<%= render 'static_pages/logged_out_contact' %>

<h2 style="text-align: left;">OSCA Student Contact</h2>
<ul>
  <li><strong>FSCs:</strong> </li>
  <li><strong>New Member Trainer:</strong> </li>
  <li><strong>MemCo:</strong> </li>
  <li><strong>AccessCo:</strong> </li>
  <li><strong>NutCo:</strong> </li>
  <li><strong>KitchCo:</strong> </li>
  <li><strong>DLECs:</strong> </li>
  <li><strong>Treasurer:</strong> </li>
  <li><strong>Board Rep:</strong> </li>
  <li><strong>Food Unpacker/Recycler:</strong> </li>
</ul>
