<% provide(:title, 'Contact') %>

<center>
<h2 style="text-decoration: underline;">OSCA Office</h2>
  <ul>
    <li><em>Business Office:</em> Wilder 406</li>
    <li><em>Finance Office:</em> Wilder 402</li>
    <li>Open Mon-Thu, 12-4 PM</li>
  </ul>

<br>

<h2 style="text-decoration: underline;">Mailing Addresses</h2>
<ul>
  <em>From Off-Campus:</em>
    <address>
      OSCA
      MPO Box 118
      Oberlin, Ohio 44074-0118
    </address>
  <em>From On-Campus:</em>
    <address>
      Wilder Hall Box 86
    </address>
</ul>
</center>
