<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p><strong>Phone: </strong><a href="tel:4407758108">(440) 775-8108</a></p>
<p><strong>Fax: </strong><a href="fax:4407756865">(440) 775-6865</a></p>
<p><strong>Email: </strong><a href="mailto:osca@oberlin.edu">
      osca@oberlin.edu
    </a></p>

<h2 style="text-align: left;">OSCA Office</h2>
  <ul>
    <li><em>Business Office:</em> Wilder 406</li>
    <li><em>Finance Office:</em> Wilder 402</li>
    <li>Open Mon-Thu, 12-4 PM</li>
  </ul>

<br>

<h2 style="text-align: left;">Mailing Addresses</h2>
<ul>
  <em>From Off-Campus:</em>
    <address>
      OSCA
      MPO Box 118
      Oberlin, Ohio 44074-0118
    </address>
  <em>From On-Campus:</em>
    <address>
      Wilder Hall Box 86
    </address>
</ul>
