<h1>About</h1>
<p>
  The Oberlin Student Cooperaptive Association (OSCA) is a student-run
  non-profit corporation that feeds approximately ¼ of Oberlin’s student body.
  OSCA provides at-cost housing and dining to members, and works to provide
  inexpensive, healthy, tasty, and environmentally-wise meals. The organization
  aims to buy food based on principles of accessibility, sustainability, and
  supporting fair labor practices. OSCA operates through modified consensus,
  and OSCA is one of the largest cooperatives in North America.
  Want to know more about OSCA?
    <a href="http://osca.wilder.oberlin.edu/about">
        Click here to visit the Official OSCA Website.
      </a>
</p>

<p>
  OSCA Hub is a website intended to facilitate the everyday functioning of
  Oberlin's co ops. Historically, all co op related information has been
  disseminated through email. Oversaturated inboxes, however, can lead quickly
  to mass amounts of unread messages, often exascerbating unresolved issues, unfilled
  cook or crew shifts, cancelled meals, and so on. OSCA Hub was built upon the
  foundational belief that all co op related matters and conversations should be
  accessible to each and every member of OSCA. Beyond that, communication is a
  basic necessity for addressing further accessibility issues within OSCA.
</p>

<p>
  If you have ideas about how we could improve OSCA Hub to better meet your
  needs or that of your co op, don't hesitate to reach out to
  Kendra Lockard at <a href="mailto:klockard@oberlin.edu">klockard@oberlin.edu</a>.

<p>
  <em>OSCA Hub was created by Hayley Drapkin ('19), Rosie Kerwin ('19),
    Kendra Lockard ('19), Natalie Mattson ('19), Sophie Shalit ('21),
    and Cece Tannous-Taylor ('19).</em>
