<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  The Oberlin Student Cooperaptive Association (OSCA) is a student-run
  non-profit corporation that feeds approximately ¼ of Oberlin’s student body.
  OSCA provides at-cost housing and dining to members, and works to provide
  inexpensive, healthy, tasty, and environmentally-wise meals. The organization
  aims to buy food based on principles of accessibility, sustainability, and
  supporting fair labor practices. OSCA operates through modified consensus,
  and OSCA is one of the largest cooperatives in North America.
  Want to know more about OSCA?
    <a href="http://osca.wilder.oberlin.edu/about">
        Click here to visit the Official OSCA Website.
      </a>
</p>

<p>
  OSCA Hub is a website built for Oberlin's co ops, intended to facilitate
  everyday communication by giving students the means to find contact information,
  publish live announcements, post meal menus, view workcharts and save plates,
  submit sub requests, and so on. If you have ideas about how we could improve
  OSCA Hub to better meet your accessibility needs or that of your co op, feel
  free to reach out to Kendra Lockard at
  <a href="mailto:klockard@oberlin.edu">klockard@oberlin.edu</a>.
</p>

  <p><em>OSCA Hub was created by Hayley Drapkin ('19), Rosie Kerwin ('19),
    Kendra Lockard ('19), Natalie Mattson ('19), Sophie Shalit ('21),
    and Cece Tannous-Taylor ('19). The lovely OSCA Hub logo was created
    by Hayley Drapkin.</em></p>

<br><br>
    <%= link_to image_tag("oscahublogo.png", alt: "OSCA Hub logo", class: "logo"),
                'http://oscahub.herokuapp.com' %>
