<h1>Contact</h1>

<p><strong>Phone: </strong><a href="tel:4407758108">(440) 775-8108</a></p>
<p><strong>Fax: </strong><a href="fax:4407756865">(440) 775-6865</a></p>
<p><strong>Email: </strong><a href="mailto:osca@oberlin.edu">
      osca@oberlin.edu
    </a></p>

<% if logged_in? %>
      <%= render 'static_pages/logged_in_contact' %>
<% else %>
      <%= render 'static_pages/logged_out_contact' %>
<% end %>
