<% if logged_in? %>
<% provide(:title, 'Dietary Restrictions') %>
<h1>Dietary Restrictions</h1>

  <% if current_user.coop_id.nil? %>
    <h2>Check back here for the Dietary Restrictions chart after you are approved to join
        your co-op's OSCA Hub.
    </h2>

  <% else %>



  <% end %>

<% else %>
  <%= render 'static_pages/home/logged_out' %>
<% end %>
