<% if logged_in? %>
<% provide(:title, 'Dietary Restrictions') %>
  <div class="row">

    <div class="restrictions">
      <h1>Dietary Restrictions</h1>

      <% if !current_user.coop_id.nil? %>
        <%= render 'restrictions/buttons' %>
      <% end %>
      <hr>

      <%= render 'restrictions/feed' %>
    </div>
  </div>
<% else %>
  <%= render 'static_pages/home/logged_out' %>
<% end %>
