<% if logged_in? %>
  <% provide(:title, 'Discussions') %>
  <% if current_user.coop_id.nil? %>
    <h1>Upcoming Discussions</h1>
    <h2>Check back here for a calendar of upcoming discussions after you are approved
      to join your co-op's OSCA Hub.</h2>

  <% else %>

    <h1>Upcoming Discussions</h1>

    <br>
    <%= render 'discussions/calendar' %>
    <br>
  <% end %>

<% else %>
  <%= render 'static_pages/home/logged_out' %>
<% end %>
