<% if logged_in? %>
<% provide(:title, 'Hand Signs') %>
<h1>OSCA Hand Signs</h1>

<center>
<b>Accessibility note:</b> use the following button to turn off moving images.

  <%= render 'static_pages/hand_signs/text' %>
  <%= render 'static_pages/hand_signs/images' %>


<hr>
<em>This page has been adapted from the original
  <a href="https://www.oberlin.edu/blogs/introduction-osca-hand-signs">OSCA Hand Signs</a>
  blog post written and illustrated by Andres Cuervo '17.<br>
  Special thanks to Natalie Hartog '17 and Karalyn Grimes '16 for their help in compiling the list of images.</em>
</center>
<% else %>
  <%= render 'static_pages/home/logged_out' %>
<% end %>
