<h1>Help</h1>
<p>
  Having issues or running into bugs on OSCA Hub?
  Contact Kendra Lockard at
  <a href="mailto:klockard@oberlin.edu">
      klockard@oberlin.edu
    </a>
  to get help.
</p>

<br><br>
<%= link_to image_tag("oscahublogo.png", alt: "OSCA Hub logo", class: "logo"),
            'http://oscahub.herokuapp.com' %>
