<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="static">
  <p style="text-align: center;">
    Having issues or running into bugs on OSCA Hub?
    <% if logged_in? %>
      Contact Kendra Lockard at
      <a href="mailto:klockard@oberlin.edu">
          klockard@oberlin.edu
        </a>
    <% else %>
      Send an email to Kendra Lockard
    <% end %>
      to get help.
  </p>
</div>

<br><br>
<% if logged_in? %>
  <%= link_to image_tag("logos/logo-"+current_user.theme+".png", alt: "OSCA Hub logo", class: "logo"), '/' %>
<% else %>
  <%= link_to image_tag("logos/logo-light-mode.png", alt: "OSCA Hub logo", class: "logo"), '/' %>
<% end %>
