<% if logged_in? %>
<% provide(:title, 'Menus') %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="menu_form">
        <%= render 'shared/menu_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Meal Menus</h3>
      <%= render 'shared/menulist' %>
    </div>
  </div>
<% else %>
  <%= render 'shared/logged_out_home' %>
<% end %>
