<% if logged_in? %>
<% provide(:title, 'Menus') %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="menu_form">
        <%= render 'menus/menu_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Meal Menus</h3>
      <% if current_user.coop_id.nil? %>
        <h2 style="text-align: left">Check back here for meal menus after you
          are approved to join your co-op's OSCA Hub.</h2>
      <% end %>
      <%= render 'menus/menus' %>
    </div>
  </div>
<% else %>
  <%= render 'static_pages/logged_out_home' %>
<% end %>
