<% provide(:title, 'Home') %>
<h1>Home</h1>
<p>
  Welcome to OSCA Hub! This is the home page for logged in users.
  I'm imagining this is where co-op specific announcements will go.
  Also general OSCA contact stuff.
</p>
