<% provide(:title, 'Save Plates') %>
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" rel="stylesheet">

<% if logged_in? %>
  <h1>Save Plates</h1>

  <div id="plates"></div>

  <script>
    var data = <%=@plates%>;
    $(document).ready(function() {

      var container = document.getElementById('plates');
      var hot = new Handsontable(container, {
        data: <%=@plates%>,
        rowHeaders: ['Lunch', 'Dinner'],
        colHeaders: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
        columns: [
            {data: 'sunday'},
            {data: 'monday'},
            {data: 'tuesday'},
            {data: 'wednesday'},
            {data: 'thursday'},
            {data: 'friday'},
            {data: 'saturday'},
          ],
        licenseKey: 'non-commercial-and-evaluation',
      });
  });
  </script>

<% else %>
  <%= render 'static_pages/logged_out_home' %>
<% end %>
