<% if logged_in? %>
<% provide(:title, 'Save Plates') %>
  <h1>Save Plates</h1>
  <center>
    <p>You can directly add or remove your name from the Save Plates chart below.</p>
    <p style="color: #eb5e55;">Remember to check the temporary <strong>and</strong> permanent tabs!</p>
    <br>

    <iframe src="https://docs.google.com/spreadsheets/d/15zY6MmnLXYJpx_4RqQBn3LMYcomuLLM7D_7KFHUd36A/edit?rm=minimal" style="border-width:0" width="860" height="910" frameborder="0"></iframe>
  </center>
<% else %>
  <%= render 'static_pages/logged_out_home' %>
<% end %>
