<% if logged_in? %>
  <% provide(:title, 'Sub Requests') %>
  <h1>Sub Requests</h1>
  <center>
    <h5>Please check the open sub requests and try swapping shifts before posting your own request.</h5>
    <h5><b>To post a new sub request,</b> click the "request a sub..." button on the
      top left of the calendar.
    </h5>
    <h5><b>To cover a sub request,</b> open the item on the calendar and click
    the "Swap Shifts" button.</h5></center>
  <br>
  <%= render 'events/calendar' %>
  <br>
<% else %>
  <%= render 'static_pages/logged_out_home' %>
<% end %>
