<% if logged_in? %>
<% provide(:title, 'Workchart') %>
  <h1>Workchart</h1>
  <center>
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS3a4owjJ6D_grdapsdge2Vni8nXFFOoaOXgXKhN_SRqP7fFmOtMa-eb3zdqqph0BZFPtiq_olkzaC7/pubhtml?widget=true&amp;headers=false" style="border-width: 0" width="903" height="840" frameborder="0"></iframe>
 </center>

 <br>

 <h1>Special Meals</h1>
 <center>
   <iframe src="https://docs.google.com/spreadsheets/d/1L8dSqEnuYnehVg3m90IsO6xy9yCMcj5jQHjuTez4KuE/edit?rm=minimal" style="border-width:0" width="950" height="460" frameborder="0"></iframe>
 </center>
<% else %>
  <%= render 'static_pages/logged_out_home' %>
<% end %>
