<% if logged_in? %>
<% provide(:title, 'Workchart') %>
<h1>Workchart</h1>

  <% if current_user.coop_id.nil? %>
    <h2>Check back here for your workchart after you are approved to join
        your co-op's OSCA Hub.
    </h2>

  <% else %>

    <% if mobile? %>
      <%= render 'workcharts/mobile_view/workcharts' %>
    <% else %>
      <%= render 'workcharts/desktop_view/workcharts' %>
    <% end %>

  <% end %>

<% else %>
  <%= render 'static_pages/logged_out_home' %>
<% end %>
