<hr>
<li class="discussions">

  <%= link_to gravatar_for(discussion.user, size: 50), discussion.user %>
  <% time = discussion.meal ? 'Today' : 'Tonight' %>
  <span class="title">Discussion <%= time %></span> - <%= discussion.title %>
  <br>
  <span class="content">
    <% if discussion.message.blank? %>
      <br>
    <% else %>
      <%= markdown discussion.message %>
    <% end %>
  </span>
</li>
