<h1>OSCA Hub</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Your MemCo has denied your request to join <b><%= link_to @coop, root_url %></b>.
If you believe you are receiving this message in error, please contact your MemCo
before requesting approval to join <%= @coop %> again through OSCA Hub.
</p>

<p style="font-style: italics;">In cooperation,</p>
<p style="font-style: italics;">OSCA Hub</p>
