<h1>OSCA Hub</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Your MemCo has approved your request to join <b><%= link_to @coop, root_url %></b>.
You may now post announcements, meal menus, and sub requests to your co-op,
as well as see your co-op's workchart, save plates, and contact information.
</p>

<p style="font-style: italics;">In cooperation,</p>
<p style="font-style: italics;">OSCA Hub</p>
