<p style="font-size: 15px;">
<%= markdown @announcement %>
</p>

<br>

<em><%= @user.name %> pushed this announcement to <%= @coop %>.</em>
<em><p>In cooperation,</p></em>
<%= image_tag(attachments['oscahub.ico'].url, style: 'height:100px; width:100px;') -%>
