<h1>OSCA Hub</h1>

<p>Hi MemCo,</p>

<p>
<%= @user.name %> is requesting to join <%= @coop %>.
To accept their request, click the link below.
</p>

<%= link_to "Accept", users_accept_user_url(id: @user.id, coop_id: @coop_id) %>
