<h1>OSCA Hub</h1>

<p>Hi MemCo,</p>

<p>
<b><%= @user.name %></b> is requesting to join <b><%= @coop %></b>.
To accept their request, click the link below.
</p>

<%= link_to "Accept", users_accept_user_url(id: @user.id, coop_id: @coop_id) %> 
