.events {
  .title {
    color: var(--pink);
    font-weight: bolder;
  }
  hr {
    margin: 2rem 0 1rem 0;
  }
}

.btn.btn-default.cover {
  background: var(--email-purple);
  border: none;
  color: white;
  float: left;
}

.btn.btn-default.delete {
  float: right;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  color: var(--delete-red);
}

.modal-body.submitted-by {
  color: #8b8b8b;
  font-style: italic;
  font-size: 0.95em;
  text-align: right;
}

.modal-body.message {
  font-size: 1.05em;
}

.modal-title.form-title {
  text-align: center;
}

.dropdown-menu.events {
  float: right;
  font-size: 1.3rem;
  margin-top: -0.7rem;
  min-width: fit-content;
  padding: 0.3rem 0.7rem;
  position: relative;
  text-align-last: center;
  -webkit-box-shadow: none;
  a {
    padding: 0;
  }
}
