.users {
  list-style: none;
  margin: 0;
  li {
    border-bottom: 1px solid #eeeeee;
    overflow: auto;
    padding: 10px 0;
  }
}

.welcome {
  padding: 6px;
  font-size: 1.6rem;
}

.btn.btn-default.switch-coop {
  color: var(--delete-red);
  float: center;
}

#user_avatar {
  border: none;
}

.bio {
  margin-top: 2rem;
  padding: 6px;
  font-size: 1.6rem;
}
