<div id="joinCoopModal"
   class="modal" data-backdrop="static" data-keyboard="false">

  <div class="modal-dialog"
       style="position: absolute;
              left: 50%;
              top: 15%;
              transform: translate(-50%, -20%);">

      <div class="modal-content">

          <div class="modal-header">

              <h3 id="joinCoopTitle"
                  class="modal-title"
                  style="text-align: center">
              </h3>

          </div>

          <center><p id="joinCoopMessage"
                     class="modal-body"
                     style="margin: 0;">
          </p></center>

          <div id="joinCoopForm"
               class="modal-body">
               <%= render 'coops/join_form' %>

        </div>

    </div>
  </div>
</div>
