<% provide(:title, "Join Co-op") %>
<h1>Join a Co-op</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= f.label :coop, "Co-op" %>
      <%= f.select :coop_id, { '': 0, 'Brown Bag': 1, 'Fairchild': 2, 'Harkness': 3, 'Keep': 4, 'Pyle': 5, 'Tank': 6, 'TWC': 7 }, class: 'form-control', multiple: false %>

      <%= f.submit "Request to Join", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
