<br>

<center>
  <p class="welcome">
    Welcome <%= @user.name.partition(" ").first %>!
    Join your OSCA Hub by clicking the button below.
  </p>

<%= link_to join_coop_path, :method=> :patch do %>
  <button type="button" class="btn btn-default join-coop">
    Join my co-op
  </button>

<% end %>
</center>
