<h3 data-toggle="popover"
    data-placement="left"
    data-title="What's in Recent News?"
    data-content=
    "This feed shows all <b>open sub requests</b> and
    <b>announcements posted in the last 48 hours.</b> Check here
    for current information on <%= Coop.coops[@user.coop_id] %>!">
  Recent News in <%= Coop.coops[@user.coop_id] %>
</h3>

<ol class="events">
  <%= render Event.where('date > ?', Date.yesterday)
                  .where(coop_id: @user.coop_id)
                  .order(date: :asc) %>
</ol>

<ol class="announcements">
  <%= render Announcement.where('created_at > ?', 2.days.ago)
                         .where(coop_id: @user.coop_id) %>
</ol>
