<% if logged_in? %>
  <% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= avatar_for @user %>
          <%= @user.name %>
          <% if @user.coop_id == current_user.coop_id %>
            <%= markdown @user.email %>
          <% end %>
        </h1>

        <% if @user.coop_id.nil? %>
          <% if current_user == @user %>
            <%= render 'join_coop_button' %>
          <% end %>
        <% end %>

      </section>
    </aside>
  </div>
<% else %>
  <% controller.redirect_to root_url %>
<% end %>
