<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  <% if mobile? %>
    <b class="mobile_caret caret"></b>
  <% else %>
    <b class="expand_caret caret"></b>
  <% end %>
</a>

<ul class="dropdown-menu events">
  <% if current_user?(event.user) %>
  <li><%= link_to "push", event, method: :push_event, style: "color: var(--email-purple);",
                            data: { confirm: "Email this sub request to " \
                                    +Coop.find(current_user.coop_id).name+"?" } %></li>
  <% else %>
  <li><%= mail_to event.user.email, "cover shift",
    subject: "Re: Sub Request for "+event.date.strftime("%b %_d"), style: "color: var(--email-purple);" %></li>
  <% end %>
</ul>
