<div id="calendar"></div>

<script type="text/javascript">
  $(function() {
    $('#calendar').each(function(){
      var calendar = $(this);
      calendar.fullCalendar({
      defaultView: 'month',

      header: {
        left: 'prev,next addEventButton',
        center: 'title',
        right: 'today month,agendaWeek,agendaDay'
      },

      eventLimit: true,
      editable: true,
      displayEventTime: false,

      customButtons: {
        addEventButton: {
          text: 'request a sub...',
          click: function() {
            location.href = "/events/new";
          },
        }
      },
    });
  });
});
</script>

<script type="text/javascript">
  $(function() {

    $('#calendar').each(function(){
    var events = {
      title: "<%= event.shift %>",
      start: moment("<%= event.date %>"),
      color: '#b778a1',
    };

    $('#calendar').fullCalendar("renderEvent", events, true);
  });
});
</script>
