<div id="calendar"></div>
<script type="text/javascript">
  $(function() {
    $('#calendar').each(function(){
      var calendar = $(this);
      calendar.fullCalendar({
      defaultView: 'month',

      header: {
        left: 'prev,next addEventButton',
        center: 'title',
        right: 'today month,agendaWeek,agendaDay'
      },

      eventLimit: true,
      editable: true,

      customButtons: {
        addEventButton: {
          text: 'request a sub...',
          click: function() {
            location.href = "/events/new"
          }
        }
      },
    });
  });
});
</script>

<script type="text/javascript">
  $(function() {

    $('#calendar').each(function(){
    var events = {
      title: "<%= event.shift %>",
      date: moment("<%= event.date %>"),
      color: '#decade',

    };

    $('#calendar').fullCalendar("renderEvent", events, true);
  });
});
</script>
