<div id="eventPopupModal" class="modal fade">
    <div class="modal-dialog" style="position: absolute;
      left: 50%; top: 28%; transform: translate(-50%, -28%);">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">close</span>
                </button>
                <h3 id="requestShift" class="modal-title"></h3>
            </div>
            <div id="requestMessage" class="modal-body" style="font-size: 1.05em;"></div>
            <div id="submittedBy" class="modal-body"
              style="color: #8b8b8b; font-style: italic; font-size: 0.95em; text-align: right;"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" style="float: left;">
                <a id="swapButton" class="modal-body" style="color: #9900b6;">
                  Swap Shifts via Email
              </a></button>
              <button type="button" class="btn btn-default"><a id="..." target="_blank">
                edit
              </a></button>
              <button type="button" class="btn btn-default">
                delete
              </button>
            </div>
        </div>
    </div>
</div>
