.dropdown-menu.announcements {
  background: var(--navbar-background);
}

#other-announcements {
  color: var(--gray-dark);
  p {
    color: var(--text);
  }
}

.btn.btn-primary.other-announcements {
  color: white;
  background: var(--link);
}
