<ul>
  <li><strong>FSCs:</strong> (Brown Bag FSC) </li>
  <li><strong>New Member Trainer:</strong> (Brown Bag New Member Trainer) </li>
  <li><strong>MemCo:</strong> (Brown Bag MemCo) </li>
  <li><strong>AccessCo:</strong> (Brown Bag AccessCo) </li>
  <li><strong>NutCo:</strong> (Brown Bag NutCo) </li>
  <li><strong>KitchCo:</strong> (Brown Bag KitchCo) </li>
  <li><strong>DLECs:</strong> (Brown Bag DLECs) </li>
  <li><strong>Treasurer:</strong> (Brown Bag Treasurer) </li>
  <li><strong>Board Rep:</strong> (Brown Bag Board Rep) </li>
  <li><strong>Food Unpacker/Recycler:</strong> (Brown Bag Food Unpacker/Recycler) </li>
</ul>
<br>
