<ul>
  <li><strong>FSCs:</strong> (Fairkid FSC) </li>
  <li><strong>New Member Trainer:</strong> (Fairkid New Member Trainer) </li>
  <li><strong>MemCo:</strong> (Fairkid MemCo) </li>
  <li><strong>AccessCo:</strong> (Fairkid AccessCo) </li>
  <li><strong>NutCo:</strong> (Fairkid NutCo) </li>
  <li><strong>KitchCo:</strong> (Fairkid KitchCo) </li>
  <li><strong>DLECs:</strong> (Fairkid DLECs) </li>
  <li><strong>Treasurer:</strong> (Fairkid Treasurer) </li>
  <li><strong>Board Rep:</strong> (Fairkid Board Rep) </li>
  <li><strong>Food Unpacker/Recycler:</strong> (Fairkid Food Unpacker/Recycler) </li>
</ul>
<br>
