<ul>
  <li><strong>FSCs:</strong> (Hark FSC) </li>
  <li><strong>New Member Trainer:</strong> (Hark New Member Trainer) </li>
  <li><strong>MemCo:</strong> (Hark MemCo) </li>
  <li><strong>AccessCo:</strong> (Hark AccessCo) </li>
  <li><strong>NutCo:</strong> (Hark NutCo) </li>
  <li><strong>KitchCo:</strong> (Hark KitchCo) </li>
  <li><strong>DLECs:</strong> (Hark DLECs) </li>
  <li><strong>Treasurer:</strong> (Hark Treasurer) </li>
  <li><strong>Board Rep:</strong> (Hark Board Rep) </li>
  <li><strong>Food Unpacker/Recycler:</strong> (Hark Food Unpacker/Recycler) </li>
</ul>
<br>
