<ul>
  <li><strong>FSCs:</strong> (Keep FSC) </li>
  <li><strong>New Member Trainer:</strong> (Keep New Member Trainer) </li>
  <li><strong>MemCo:</strong> (Keep MemCo) </li>
  <li><strong>AccessCo:</strong> (Keep AccessCo) </li>
  <li><strong>NutCo:</strong> (Keep NutCo) </li>
  <li><strong>KitchCo:</strong> (Keep KitchCo) </li>
  <li><strong>DLECs:</strong> (Keep DLECs) </li>
  <li><strong>Treasurer:</strong> (Keep Treasurer) </li>
  <li><strong>Board Rep:</strong> (Keep Board Rep) </li>
  <li><strong>Food Unpacker/Recycler:</strong> (Keep Food Unpacker/Recycler) </li>
</ul>
<br>
