<ul>
  <li><strong>FSCs:</strong> (Pyle FSC) </li>
  <li><strong>New Member Trainer:</strong> (Pyle New Member Trainer) </li>
  <li><strong>MemCo:</strong> (Pyle MemCo) </li>
  <li><strong>AccessCo:</strong> (Pyle AccessCo) </li>
  <li><strong>NutCo:</strong> (Pyle NutCo) </li>
  <li><strong>KitchCo:</strong> (Pyle KitchCo) </li>
  <li><strong>DLECs:</strong> (Pyle DLECs) </li>
  <li><strong>Treasurer:</strong> (Pyle Treasurer) </li>
  <li><strong>Board Rep:</strong> (Pyle Board Rep) </li>
  <li><strong>Food Unpacker/Recycler:</strong> (Pyle Food Unpacker/Recycler) </li>
</ul>
<br>
