<ul>
  <li><strong>FSCs:</strong> (Tank FSC) </li>
  <li><strong>New Member Trainer:</strong> (Tank New Member Trainer) </li>
  <li><strong>MemCo:</strong> (Tank MemCo) </li>
  <li><strong>AccessCo:</strong> (Tank AccessCo) </li>
  <li><strong>NutCo:</strong> (Tank NutCo) </li>
  <li><strong>KitchCo:</strong> (Tank KitchCo) </li>
  <li><strong>DLECs:</strong> (Tank DLECs) </li>
  <li><strong>Treasurer:</strong> (Tank Treasurer) </li>
  <li><strong>Board Rep:</strong> (Tank Board Rep) </li>
  <li><strong>Food Unpacker/Recycler:</strong> (Tank Food Unpacker/Recycler) </li>
</ul>
<br>
