<ul>
  <li><strong>FSCs:</strong> (TWC FSC) </li>
  <li><strong>New Member Trainer:</strong> (TWC New Member Trainer) </li>
  <li><strong>MemCo:</strong> (TWC MemCo) </li>
  <li><strong>AccessCo:</strong> (TWC AccessCo) </li>
  <li><strong>NutCo:</strong> (TWC NutCo) </li>
  <li><strong>KitchCo:</strong> (TWC KitchCo) </li>
  <li><strong>DLECs:</strong> (TWC DLECs) </li>
  <li><strong>Treasurer:</strong> (TWC Treasurer) </li>
  <li><strong>Board Rep:</strong> (TWC Board Rep) </li>
  <li><strong>Food Unpacker/Recycler:</strong> (TWC Food Unpacker/Recycler) </li>
</ul>
<br>
