/*
 * This is a manifest file that'll be compiled into application.css, which
 * will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any styles defined in the other CSS/SCSS
 * files in this directory. It is generally better to create a new file per
 * style scope.
 *
 *= require fullcalendar
 *= require md_simple_editor
 *= require_tree .
 *= require_self
 */

/* custom font */
 @font-face {
     font-family: 'apercuregular';
     src: asset-url('apercu-font/apercu_regular-webfont.eot');
     src: asset-url('apercu-font/apercu_regular-webfont.eot?#iefix') format('embedded-opentype'),
          asset-url('apercu-font/apercu_regular-webfont.woff2') format('woff2'),
          asset-url('apercu-font/apercu_regular-webfont.woff') format('woff'),
          asset-url('apercu-font/apercu_regular-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

/* colors */
:root {
  --comment-gray-light: #f6f6f6;
  --comment-gray: #b4b4b4;
  --coop-gray: #858585;
  --gray: #666;
  --gray-dark: #444;
  --timestamp-gray: #9f9f9f;

   --comment-blue: #007ba0;
   --oscahub-blue: #377fc3;

   --subreq-pink: #ce0e5b;
   --join-coop-pink: #be5b9b;

   --discussion-purple: #56358b;
   --email-purple: #6574cd;
   --event-purple: #b778a1;
   --menu-purple: #a9518a;

   --delete-red: #dd5959;

   --light-yellow: #ffffdd;
}
