.col-md-8.restrictions {
  hr {
    margin-top: 0;
  }
  h4 {
    margin: 20px;
  }
}

.restriction_form {
  margin-top: 0rem;
  h5 {
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 2rem;
    text-align: center;
  }
  hr {
    margin: 1rem 0;
  }
}
