.restrictions {
  h1 {
    margin-bottom: -3rem;
  }
  h4 {
    background: #e6e6fa;
    border: 1px solid;
    border-radius: 5px;
    color: var(--discussion-purple);
    display: inline-block;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    width: fit-content;
  }
  hr {
    margin: 2rem 0;
  }
}

.restriction_form {
  margin-top: 0rem;
  hr {
    margin: 1rem 0;
  }
}

.add-restrictions {
  background: var(--email-purple);
  border: 1px solid;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
  text-align: center;
  width: fit-content;
}

.delete-restrictions {
  color: var(--gray);
  font-size: 1.4rem;
  margin: 1rem 0;
  text-decoration: underline;
  &:hover {
    color: var(--delete-red);
  }
}

.restrictions-group {
  display: flex;
  justify-content: space-between;
  .names {
    display: table-cell;
  }
}
