.expand_caret {
    transform: scale(1.3) rotate(90deg);
    color: var(--gray);
    float: right;
}
a[aria-expanded='false'] > .expand_caret {
    transform: scale(1.3);
}

.comment_caret {
    transform: scale(1.1) rotate(-90deg);
    color: #888;
    position: relative;
}
a[aria-expanded='false'] > .comment_caret {
    transform: scale(1.1);
}

.mobile_caret {
    transform: scale(2) rotate(90deg);
    color: var(--gray);
    float: right;
}
a[aria-expanded='false'] > .mobile_caret {
    transform: scale(2);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.dropdown-menu {
  min-width: fit-content;
  text-align: right;
}
