.events {
  .title {
    color: #ce0e5b;
    font-style: bold;
    margin-left: 60px;
  }
  .content {
    margin-left: 60px;
  }
  .timestamp {
    color: #727272;
    display: block;
    margin-left: 60px;
  }
}
