.menus {
  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
  }
  .user {
    font-size: 1.3rem;
  }
  .title {
    color: var(--event-purple);
    display: inline;
    font-size: 15px;
    font-weight: bold;
  }
  .content {
    display: block;
    margin-left: 60px;
    padding: 0.2rem;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: var(--timestamp-gray);
    font-size: 1.3rem;
    margin: 0.5rem 0.25rem;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .food-group {
    color: var(--gray);
    display: inline;
    font-size: 1em;
    font-style: italic;
  }
}

.dropdown-menu.menus {
  float: right;
  font-size: 1.3rem;
  margin-top: -0.7rem;
  min-width: fit-content;
  padding: 0.3rem 0.7rem;
  position: relative;
  text-align-last: center;
  -webkit-box-shadow: none;
  a {
    padding: 0;
  }
}
