.dropdown-menu.announcements {
  background: var(--purple-very-light);
}

#other-announcements {
  color: white;
  p {
    color: var(--text);
  }
}

.btn.btn-primary.other-announcements {
  background: var(--softblue);
  color: var(--red);
}
