.comment__button {
  background: var(--purple-very-light);
  color: var(--comment-blue);
  &:hover {
    background: white;
  }
}

.cancel__button {
  background: var(--purple-very-light);
  color: #666;
}

.comment-box {
  color: var(--purple);
}

#post__button {
  background: var(--comment-blue);
  color: white;
  &:hover {
    background: var(--red);
  }
}

#view__comments, #hide__comments {
  background: transparent;
  border: 1px solid;
  color: var(--gray-light);
}

.dropdown-menu.comments {
  background: var(--purple-very-light);
}
