.menus {
  .title {
    color: var(--orange);
  }
  .food-group {
    color: var(--red);
  }
}

.dropdown-menu.menus {
  background: var(--purple-very-light);
  &:hover {
    background: white;
  }
}
