.btn-toolbar {
  margin: 0 2rem !important;
  display: none;
}

.pencil {
  background: image-url('pencil.png');
  background-size: 100% 100%;
}

.cancel {
  background: image-url('cancel.png');
  background-repeat: no-repeat;
  background-size: 70% 70%;
}

.btn-primary.preview_md {
  background: var(--blue);
  border: 1px solid;
  color: var(--off-white-light);
}

#markdown-toolbar-hide {
  display: none;
}
