.events {
  .title {
    color: var(--pink);
  }
}

.fc-unthemed td.fc-today {
  background: var(--orange);
}

.fc-button {
  background: var(--navbar-background);
  color: white;
  text-shadow: none;
}


.btn.btn-default.delete {
  background: var(--navbar-background);
}

.modal-body.submitted-by {
  color: var(--text);
}

.modal-body.message {
  color: var(--text);
}

.modal-header, .modal-body, .modal-footer {
  background: var(--background);
}

.modal-title.form-title {
  background: var(--background);
}

.dropdown-menu.events {
  background: var(--navbar-background);
  &:hover {
    background: white;
  }
}
