.btn-toolbar {
  margin: 0 2rem !important;
  display: none;
}

.pencil {
  background: image-url('pencil-dark-mode.png');
  background-size: 100% 100%;
}

.cancel {
  background: image-url('cancel-dark-mode.png');
  background-repeat: no-repeat;
  background-size: 70% 70%;
}

.btn-primary.preview_md {
  background: var(--navbar-background);
  border: 1px solid;
  color: var(--link);
}

#markdown-toolbar-hide {
  display: none;
}

#md-editor #md-text textarea {
  background: var(--form-background);
  color: var(--text);
}
