<section id="coop-links">
  <p><%= Coop.find(current_user.coop_id).name %> Links...</p><br>
  <ul>
    <li><span>&#8226; <%= link_to "Food Buyer Form", "#" %></span></li>
    <li><span>&#8226; <%= link_to "Tasty Things Requests", "#" %></span></li>

  </ul>
</section>
