<% if mobile? %>
  <div class="center jumbotron" style="background-color: #e5eaef;">
<% else %>
  <div class="center jumbotron desktop" style="background-color: #e5eaef;">
<% end %>

<%= render 'static_pages/home/content'%>
</div>
