<h5>Show more...</h5>
<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  <b class="announcement-mobile-caret caret"></b>
</a>

<ul class="dropdown-menu mobile-announcements">
  <li><%= render 'static_pages/home/links' %></li>
  <li><%= render 'static_pages/home/other_coop_announcements' %></li>
</ul>
